/*
** file: css/options.css
** description: custom styling for "html/options.html" file
*/

div#options-outer {
    margin: 5px;
    background: #cce0ff;
    border-radius: 5px;
    font-family: "Oxygen";
    height:815px;
    text-align: center;
}

div#options-inner {
    padding: 250px;
 	font-family: "Oxygen";
 	text-align: center;
}

div#options-page-title {

	font-family: "Oxygen";
	text-align: center;
	padding: 20px;
	font-weight: bold;
}

div#options-area {
    margin-top: 40px;
    font-family: "Oxygen";
    text-align: center;
}

/* latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  src: local('Oxygen Regular'), local('Oxygen-Regular'), url(https://fonts.gstatic.com/s/oxygen/v6/qBSyz106i5ud7wkBU-FrPevvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
